{% extends 'base.html' %}
{% block content %}
{% load static %}

<header class="bg-dark py-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">ABOUT US </h1>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </div>
</header>


<!-- About Us Content -->
<div class="container py-5">
    <div class="row justify-content-center">
      
        <div class="col-lg-6">
            <div class="card bg p-4">  
                <div class="col-lg-3">
            <img src="{% static 'img/logo2.jpg' %}" class="img-fluid rounded shadow-lg" alt="About Us Image">
                </div>
             
                <p class="text-justify">
                    At RGB Shoes, we are passionate about providing high-quality footwear that blends technology and fashion. Our journey began with a simple idea: to revolutionize the way people experience shoes. Through cutting-edge design and meticulous craftsmanship, we strive to create products that not only look great but also feel incredible.
                    <br/><br/>
                    Our team is dedicated to pushing the boundaries of innovation in the footwear industry. We believe that shoes are more than just a necessity; they are a form of self-expression. Each pair of RGB Shoes is crafted with the utmost attention to detail, ensuring both comfort and durability.
                    <br/><br/>
                    We are committed to sustainability and ethical practices. From sourcing materials to the manufacturing process, we aim to reduce our environmental footprint and ensure fair treatment of all workers involved. Our goal is to create a positive impact on both our customers and the world.
                    <br/><br/>
                    Join us on our mission to redefine footwear, one step at a time. Whether you're hitting the gym, heading to the office, or going out for a night on the town, RGB Shoes has got you covered. Thank you for being a part of our journey.
                </p>
            </div>
        </div>
       
    </div>
</div>
<style>
    body {
        background: #f1f1f1 !important;
      }
</style>
{% endblock %}
