{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perferendis nostrum cum rerum dolorem sapiente. Similique est ab nobis debitis temporibus facilis cupiditate libero minus a placeat nemo, possimus nisi.</p>
        </div>
    </div>
</header>

<div class="container">
<div class="row">
    <center>
        <div class="col-8">
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ultrices tortor. Praesent pretium auctor dictum. Nunc efficitur nunc eu dignissim tincidunt. Proin at porta orci, quis elementum nunc. Sed quis diam purus. Morbi ultrices accumsan augue, eu auctor justo fringilla id. Ut tellus libero, fermentum vitae finibus in, pretium vitae odio. Morbi a erat tortor. Praesent eu eros quis enim pharetra sodales sit amet ac turpis. Praesent vel fringilla enim. Nulla sagittis vulputate magna vitae eleifend. Praesent eu neque tincidunt, commodo neque porta, ultrices ex. Cras non dapibus quam.
            <br/> <br/>
            Aliquam eu magna ornare, elementum est eu, vulputate ligula. Morbi velit felis, volutpat eu vestibulum quis, ornare quis sapien. Cras finibus dapibus libero a venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin et tincidunt augue, non pulvinar dolor. Duis vulputate diam massa, non interdum sapien faucibus eget. Aliquam finibus metus nisi.
            <br/> <br/>
        </p>
        </div>
    </center>
</div>
</div>


{% endblock %}