.card1 {
    max-width: 300px;
    max-height: 350px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, transform-style 0.3s, max-width 0.5s;
    transform-style: preserve-3d;
    /* Ensures child elements are rendered in 3D space */
    perspective: 1000px;
    /* Depth of the 3D space */
}

/* Hover effect */
.card1:hover {
    transform: translateY(-295px) rotateX(5deg);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    max-width: 500px;
    height: 5000px;

}

/* Form styling */
.textbox1 {
    margin-bottom: 10px;
}

.box1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btnlogin {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.100s;
}

.btnlogin:hover {
    padding: 11px;
    background-color: #08294d;
    border-top: 10px #007bff solid;

}






.btn-secondary123 {
    display: inline-block;
    padding: 5px 11px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;

}

.btn-secondary123:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: translateY(-5px);
    border-bottom: #08294d 5px solid;
}