{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Header -->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Order Summary</h1>
        <p class="lead fw-normal text-white-50 mb-0">Review your order before placing it</p>
      </div>
    </div>
  </header>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Order Summary</h2>
        <ul class="list-group mb-3">
          {% for product in cart_products %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{ product.name }}</h6>
                <small class="text-muted">Quantity: {{ quantities|product.id }}</small>
              </div>
              <span class="text-muted">₱{{ product.price }}</span>
            </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Subtotal (PHP)</span>
            <strong>₱{{ subtotal }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Shipping Fee (PHP)</span>
            <strong>₱{{ shipping_fee }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (PHP)</span>
            <strong>₱{{ total }}</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Billing Information</h2>
        <p><strong>Full Name:</strong> {{ shipping_info.shipping_full_name }}</p>
        <p><strong>Email:</strong> {{ shipping_info.shipping_email }}</p>
        <p><strong>Address:</strong> {{ shipping_info.shipping_address1 }}, {{ shipping_info.shipping_address2 }}, {{ shipping_info.shipping_city }}, {{ shipping_info.shipping_state }}, {{ shipping_info.shipping_zipcode }}, {{ shipping_info.shipping_country }}</p>

        <h2>Payment Information</h2>
        <p><strong>Payment Method:</strong> {{ billing_info.payment_method }}</p>
        {% if billing_info.payment_method == 'GCASH' %}
          <p><strong>GCash Number:</strong> {{ billing_info.gcash_number }}</p>
        {% elif billing_info.payment_method == 'COD' %}
          <p><strong>COD Instructions:</strong> {{ billing_info.cod_instructions }}</p>
        {% endif %}

        <form method="post" action="{% url 'process_order' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
