

body {
  background: #f1f1f1 !important;
}
.card {
  border: 10px solid #494646;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #ccc;
}


.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 390px;
 
}

.card-title {
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #666;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.form-select {
  border-radius: 5px;
}

.bi-star-fill {
  color: #ffc107;
}

.strike {
  text-decoration: line-through;
  color: #888;
}

.text-warning {
  color: #ffc107 !important;
}



